<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="./static/styles/home.css" rel="stylesheet" />
    </head>
    <body>
        <div class="v2_2">
            <div class="v4_14">

            </div>
            <div class="v4_28">
                <span class="v4_23">Source Code</span>
                <span class="v4_25">&copy; Jeffrey Luu</span>
                <div class="v4_21">

            </div>
                <span class="v4_13">Stats</span>
<span class="v4_2">How to Play</span>
<span class="v4_12">PLAY</span>
</div>
</div>
</body>
</html> 

