<!DOCTYPE html>
<html>
 
<!-- Head Section content -->
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./static/styles/home.css" rel="stylesheet" />
    
    <div class="title">
        <!-- Page title -->
        <title>BlackJack</title>
    </div>
    
    
</head>
 
<!-- Body Section content -->
<body>
    <!-- Used to display heading content -->
    <h1>Welcome to BlackJack!</h1>
 
    <!-- Used to display paragraph content -->
    <p>A web version of the famous card game</p>

    <!-- Button to navigate to game screen-->
    <button id="play-button" onclick="window.location.href='/game'">Play</button>
    <!-- Button to navigate to rules screen-->
    <button id="rules-button" onclick="window.location.href='/rules'">Rules</button>
    <!-- Button to navigate to stats screen-->
    <button id="stats-button" onclick="window.location.href='/stats'">Stats</button>

    <!-- Footer content -->
    <footer>
        <!-- Footer links-->
        <div class = "footer-links">
            <a href=""> About Me</a>|
            <a href="https://github.com/jdluu/BlackJack"> Source Code</a>
        </div>
        <!-- Footer Copyright-->
        <div class = "footer-copyright">
            <p>&copy; 2022</p>
        </div>  
        
    </footer>
        


</body>
 
</html>