<!DOCTYPE html>
<html lang ="en">
    <!-- Head Section content -->
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" type="text/css"  />
        <link href="../static/styles/home.css" rel="stylesheet" type="text/css" />
              
        <div class="title">
            <!-- Page title(Shown on the tab) -->
            <title>The Awesome Game of BlackJack</title>
        </div>
        
    </head>
 
<!-- Body Section content -->
<body>
    <!-- Used to display heading content -->
    <h1>Welcome to BlackJack!</h1>
    <!-- Used to display paragraph content -->
    <h2> A web version of the famous card game</h2>
    
    <a href="/blackjack" class="playButton">Play</a>
    <a href="/rules" class="rulesButton">Rules</a>
    <a href="/stats" class="statsButton">About</a>

    

    <!-- Footer content -->
    <footer>
        <!-- Footer links-->
        <div class = "footer-links">
            <a href="https://github.com/jdluu/BlackJack"> Source Code</a>|
            <a href="https://www.linkedin.com/in/jeffrey-luu/"> Connect with Me!</a>
            <!-- Create a copyright for 2022-->
            <p>&copy;Jeffrey Luu 2022</p>  
        </div>  
    </footer>
</body>
 
</html>