<!DOCTYPE html>
<html lang="en">
    <!-- Head Section content -->
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link href="../static/styles/rules.css" rel="stylesheet" type="text/css" />
        <div class="title">
            <!-- Page title(Shown on the tab) -->
            <title>The Awesome Game of BlackJack</title>
        </div>
    </head>
    <!-- Body Section content -->
    <body>
        <!-- Used to display heading content -->
        <h1>BlackJack Rules</h1>
        <!-- Used to display paragraph content -->
        <p>The rules of BlackJack vary from casino to casino. However, the game generally follows hit and stand rules. <br>
            The goal of the game is to get as close to 21 as possible without going over.<br>
            Here's a quick synopsis of the rules:<br>
        </p>
        <!-- Used to display list content-->
        <ul>
            <li>Each player is dealt two cards face up.</li>
            <li>The dealer is dealt two cards, one face up and one face down.</li>
            <li>Number cards are worth their face value</li>
            <li>Face cards are worth 10</li>
            <li>Aces can be worth 11 or 1</li>
            <li>The player can choose to hit or stand.</li>
            <li>If the player chooses to hit, they are dealt another card.</li>
            <li>If the player chooses to stand, they are done with their turn.</li>
            <li>The dealer will hit until they have 17 or more.</li>
            <li>The player with the highest hand wins.</li>
        </ul>

    <!-- Footer content -->
    <footer>
        <!-- Footer links-->
        <div class = "footer-links">
            <a href="https://github.com/jdluu/BlackJack"> Source Code</a>|
            <a href="https://www.linkedin.com/in/jeffrey-luu/"> Connect with Me!</a>
            <!-- Create a copyright for 2022-->
            <p>&copy;Jeffrey Luu 2022</p>  
        </div>  
    </footer>
    </body>
</html>