<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link href="../static/styles/rules.css" rel="stylesheet" type="text/css" />
        <title>Stats</title>
    </head>
    <body>
        <h1>Temp</h1>
        <p>Lorem Ipsum</p>
    


    <!-- Footer content -->
    <footer>
        <!-- Footer links-->
        <div class = "footer-links">
            <a href="https://github.com/jdluu/BlackJack"> Source Code</a>|
            <a href="https://www.linkedin.com/in/jeffrey-luu/"> Connect with Me!</a>
            <!-- Create a copyright for 2022-->
            <p>&copy;Jeffrey Luu 2022</p>  
        </div>  
    </footer>
    </body>
</html>